<ion-tabs>

  <ion-tab-bar slot="bottom" >
    <ion-tab-button tab="tab1" class="tab">
      <ion-icon name="search-outline"></ion-icon>
      <ion-label>搜尋</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab2" class="tab">
      <ion-icon name="film-outline"></ion-icon>
      <ion-label>找電影</ion-label>
    </ion-tab-button>

    <ion-tab-button tab="tab3" class="tab">
      <ion-icon name="home-outline"></ion-icon>
      <ion-label>首頁</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab4" class="tab">
      <ion-icon name="pin"></ion-icon>
      <ion-label>找影院</ion-label>
    </ion-tab-button>
    <ion-tab-button tab="tab5" class="tab">
      <ion-icon name="person"></ion-icon>

      <ion-label>我的</ion-label>
    </ion-tab-button>
  </ion-tab-bar>

</ion-tabs>
