<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      我的
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">
    <ion-toolbar>
      <ion-title size="large">我的</ion-title>
    </ion-toolbar>
  </ion-header>


  <ion-content class="ion-padding">
    <ion-item class="ion-margin-vertical">
      <ion-label>User Name</ion-label>
      <ion-input placeholder="User Name"></ion-input>
    </ion-item>
  
    <ion-item class="ion-margin-vertical">
      <ion-label>Password</ion-label>
      <ion-input placeholder="Password" 
    type="password"></ion-input>
    </ion-item>
  </ion-content>
  
  

  <!-- <app-explore-container name="test"></app-explore-container> -->
</ion-content>
