<ion-header [translucent]="true">
  <ion-searchbar value="奇異博士2 瘋狂多元宇宙" id="test"></ion-searchbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-header collapse="condense">

  </ion-header>

  <ion-list>
    <ion-item >    
      <!-- <ion-item (click)="onMovieClick()"> -->

      <ion-icon name="time-outline"></ion-icon>
      <ion-label>日日新影城</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>魔物獵人</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>開低走低收最低</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>十年線對稱跌幅</ion-label>
    </ion-item>
    <ion-item>
      <ion-icon name="time-outline"></ion-icon>
      <ion-label>這只是剛開始</ion-label>
    </ion-item>
  </ion-list>

  <ion-text>熱門推薦</ion-text>
  <br>

  <ion-button color="warning">怪獸與他們的產地</ion-button>
  <ion-button color="warning">雷神索爾3</ion-button>
  <ion-button color="warning">奇異博士2 瘋狂多元宇宙</ion-button>
  <ion-button color="warning">媽的多元宇宙</ion-button>

  <br>
  <ion-text>榜單</ion-text>
  <br>


  <div style="color:red;">
    <ion-button >購票評分榜</ion-button>
    <ion-button >想看榜</ion-button>
    <ion-button >期待榜</ion-button>

  </div>




  <!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>