
<ion-header [translucent]="true">
  <ion-searchbar value="奇異博士2 瘋狂多元宇宙" id="test"></ion-searchbar>

</ion-header>

<ion-content [fullscreen]="true">
<ion-header collapse="condense">

</ion-header>

<ion-button>熱映中</ion-button>  <ion-button>即將上映</ion-button> <ion-button>全部</ion-button>

<br>
<hr>

<br>
<ion-button>movie1</ion-button> <ion-button>movie2</ion-button> <ion-button>movie3</ion-button> <ion-button>movie4</ion-button>
<ion-button><ion-icon name="heart-outline"></ion-icon></ion-button>
<ion-button><ion-icon name="heart-outline"></ion-icon></ion-button>
<ion-button><ion-icon name="heart-outline"></ion-icon></ion-button>
<ion-button><ion-icon name="heart-outline"></ion-icon></ion-button>
<br>
<br>
<br>
<br>
      <div id="carouselExampleIndicators" class="carousel slide" data-bs-ride="true">
        <div class="carousel-indicators">
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="0" class="active" aria-current="true" aria-label="Slide 1"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="1" aria-label="Slide 2"></button>
          <button type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide-to="2" aria-label="Slide 3"></button>
        </div>
        <div class="carousel-inner">
          <div class="carousel-item active">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
          <div class="carousel-item">
            <img src="..." class="d-block w-100" alt="...">
          </div>
        </div>
        <button class="carousel-control-prev" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="prev">
          <span class="carousel-control-prev-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Previous</span>
        </button>
        <button class="carousel-control-next" type="button" data-bs-target="#carouselExampleIndicators" data-bs-slide="next">
          <span class="carousel-control-next-icon" aria-hidden="true"></span>
          <span class="visually-hidden">Next</span>
        </button>
      </div>
<br>
<br>
<br>
<br>

<br>
<br>
<br>
<br>

<ion-icon name="paw-outline"></ion-icon>
  <ion-text class="cmt" id="cmt_0">摳腳大媽 這部電影讓我想起今天要吃A米</ion-text> 
<br>
<ion-icon name="baseball-outline"></ion-icon>
<ion-text class="cmt" id="cmt_1">精靈遊俠 台南的無糖是無法再加糖</ion-text>
<br>
<ion-icon name="logo-twitter"></ion-icon>
  <ion-text class="cmt" id="cmt_2">馬斯克 竟然要叫我買Twitter</ion-text>

<!-- <ion-text id="cmt_3">精靈遊俠</ion-text> -->
<!-- <ion-text id="cmt_4"></ion-text> -->



<!-- <app-explore-container name="Tab 1 page"></app-explore-container> -->
</ion-content>
