// # for id
// . for class

ion-searchbar {   
    // width: 10px;     
}


// #cmt_0
// {
//     font-weight:bold;
// }

.cmt
{
    font-weight:bold;
}

.home_img {
    img
    {
        border-radius: 10%;
        width: 80%;
    }
  }